/*------------------------MOB 428px-----------------------*/

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

/*------------------------TAB 768px-----------------------*/

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-item-address {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .menu-open-btn {
    border: none;
    display: none;
  }
  .mob-menu {
    display: none;
  }

  .solutions {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .service-btn {
    margin-top: 36px;
  }
  .service-btn:hover,
  .service-btn:focus {
    background-color: #404bbf;
  }
  .service-order {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people\ office-tab.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .service-order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people\ office-tab-2x.jpg);
    }
  }

  .container {
    max-width: 768px;
  }
  .feature-links {
    gap: 72px 24px;
  }
  .feature-list {
    width: calc((100% - 24px) / 2);
  }
  .feature-item {
    text-align: start;
  }

  .team-link {
    gap: 64px 24px;
  }

  .container.clients-container {
    max-width: 584px;
  }
  .clients-main-top {
    width: 168px;
    height: 88px;
  }
  .clients-main-list {
    gap: 72px 24px;
  }
  .clients-main-item {
    width: calc((100% - 48px) / 3);
  }
  .clients-main-icon {
    width: 104px;
    height: 56px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-container {
    max-width: 584px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-webstudio {
    margin-right: 24px;
    text-align: left;
  }
  .social {
    text-align: start;
  }
  .subscribe {
    text-align: left;
  }
  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    height: 40px;
    margin-bottom: 0;
  }
  .subscribe-btn {
    display: inline-flex;
    padding-right: 24px;
  }

  .modal {
    width: 408px;
    height: 584px;
  }
}

/*----------------------DESKTOP 1158px---------------------*/

@media screen and (min-width: 1158px) {
  .header-container {
    height: 72px;
  }
  .header-list {
    display: flex;
  }
  .header-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .header-item-address {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .menu-open-btn {
    border: none;
    display: none;
  }
  .mob-menu {
    display: none;
  }

  .solutions {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .service-btn {
    margin-top: 48px;
  }
  .service-btn:hover,
  .service-btn:focus {
    background-color: #404bbf;
  }
  .service-order {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people\ office-pc.jpg);
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .service-order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people\ office-pc-2x.jpg);
    }
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .feature {
    padding: 120px 0;
  }
  .feature-container-top {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
  }
  .feature-list {
    width: calc((100% - 72px) / 4);
  }
  .feature-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .feature-text {
    font-weight: 400;
  }
  .choice {
    padding-bottom: 120px;
  }
  .choice-item {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choice-link {
    display: flex;
    gap: 24px;
  }
  .choice-list {
    width: calc((100% - 48px) / 3);
    display: flex;
  }

  .team {
    padding: 120px 0;
  }
  .team-link {
    gap: 24px;
  }

  .team-list {
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .container.clients-container {
    max-width: 1158px;
  }
  .clients {
    padding: 120px 0;
  }
  .clients-main-list {
    gap: 24px;
  }

  .clients-main-item {
    width: calc((100% - 120px) / 6);
  }

  .clients-main-top {
    width: 168px;
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #8e8f99;
  }
  .clients-main-icon {
    width: 104px;
    height: 56px;
  }

  .footer-text {
    max-width: 264px;
  }

  .container.footer-container {
    max-width: 1158px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  .container-webstudio {
    margin-right: 0;
  }

  .container-social-icon {
    margin-left: 120px;
    margin-right: 80px;
  }

  .container-subscribe {
    position: relative;
  }
  .subscribe-btn {
    display: inline-flex;
  }

  .modal {
    width: 408px;
    height: 584px;
  }
}
