/*------------------------MOB 428px-----------------------*/

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

/*------------------------TAB 768px-----------------------*/

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-items {
    display: flex;
    gap: 40px;
  }
  .header-items {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px 16px 16px 0;
  }

  .solutions {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .service-btn {
    margin-top: 36px;
  }
  .service-btn:hover,
  .service-btn:focus {
    background-color: #404bbf;
  }
  .service-order {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people\ office-tab.jpg);
    max-width: 768px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .service-order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people\ office-tab-2x.jpg);
    }
  }

  .container {
    max-width: 766px;
  }
  .feature-links {
    gap: 72px 24px;
  }
  .feature-list {
    width: calc((100% - 24px) / 2);
  }
  .feature-item {
    text-align: start;
  }

  .team-link {
    gap: 64px 24px;
  }

  .clients-main-top {
    width: 198px;
    height: 88px;
  }
  .clients-main-list {
    gap: 72px 24px;
  }
  .clients-main-item {
    width: calc((100% - 48px) / 3);
  }
  .clients-main-icon {
    width: 104px;
    height: 56px;
  }

  .footer-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-logo-color {
    color: #f4f4fd;
  }
  .footer-text {
    width: 264px;
    text-align: start;
  }
  .page-footer {
    background-color: #2e2f42;
    padding-top: 0;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .container-webstudio {
    padding-right: 24px;
    text-align: left;
  }
  .social {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: start;
  }
  .social-list {
    display: flex;
    gap: 16px;
  }
  .social-item {
    width: 40px;
    height: 40px;
  }
  .footer-icons {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--iris, #4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-icons:hover {
    background-color: #31d0aa;
  }
  .footer-icons:focus {
    background-color: #31d0aa;
  }
  .social-icon {
    fill: #f4f4fd;
  }
  .container-subscribe {
  }
  .subscribe {
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    background: transparent;
    color: var(--white, #fff);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 0;
  }
  .footer-input::placeholder {
    color: var(--white, #fff);
  }
  .subscribe-icon {
    margin-left: 16px;
  }
  .subscribe-btn {
    color: var(--white, #fff);
    min-width: 165px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: inline-flex;
    align-items: center;
    padding-right: 24px;
    background: var(--iris, #4d5ae5);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    cursor: pointer;
  }
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #404bbf;
  }
}

/*----------------------DESKTOP 1158px---------------------*/

@media screen and (min-width: 1158px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-items {
    display: flex;
    gap: 40px;
  }

  .solutions {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .service-btn {
    margin-top: 48px;
  }
  .service-btn:hover,
  .service-btn:focus {
    background-color: #404bbf;
  }
  .service-order {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people\ office-pc.jpg);
    padding: 188px 0;
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .service-order {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people\ office-pc-2x.jpg);
    }
  }

  .container {
    max-width: 1158px;
  }
  .feature {
    padding: 120px 0;
  }
  .feature-container-top {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
  }
  .feature-list {
    width: calc((100% - 72px) / 4);
  }
  .feature-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .feature-text {
    font-weight: 400;
  }
  .choice {
    padding-bottom: 120px;
  }
  .choice-item {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choice-link {
    display: flex;
    gap: 24px;
  }
  .choice-list {
    width: calc((100% - 48px) / 3);
    display: flex;
  }

  .team {
    padding: 120px 0;
  }
  .team-link {
    gap: 24px;
  }

  .team-list {
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .clients {
    padding: 120px 0;
  }
  .clients-main-list {
    gap: 24px;
  }

  .clients-main-item {
    width: calc((100% - 120px) / 6);
  }

  .clients-main-top {
    width: 168px;
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #8e8f99;
  }
  .clients-main-icon {
    width: 104px;
    height: 56px;
  }

  .footer-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
  }

  .footer-logo-color {
    color: #f4f4fd;
  }

  .footer-text {
    max-width: 264px;
  }

  .page-footer {
    background-color: #2e2f42;
    padding-bottom: 0;
  }

  .footer-container {
    padding: 0 0 100px 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .container-webstudio {
  }

  .container-social-icon {
    margin-left: 120px;
    margin-right: 80px;
  }

  .social {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  }

  .social-list {
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .footer-icons {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--iris, #4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-icons:hover {
    background-color: #31d0aa;
  }

  .footer-icons:focus {
    background-color: #31d0aa;
  }

  .social-icon {
    fill: #f4f4fd;
  }

  .container-subscribe {
    position: relative;
  }

  .subscribe {
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .footer-form {
  }

  .footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    background: transparent;
    color: var(--white, #fff);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .footer-input::placeholder {
    color: var(--white, #fff);
  }

  .subscribe-icon {
    margin-left: 16px;
  }

  .subscribe-btn {
    color: var(--white, #fff);
    min-width: 165px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: inline-flex;
    padding-left: 24px;
    align-items: center;
    border-radius: 4px;
    background: var(--iris, #4d5ae5);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    cursor: pointer;
  }

  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #404bbf;
  }
}

/* .header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-color {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-items {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-adress {
  margin-left: auto;
}

.header-item-nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  position: relative;
  color: var(--color-navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  position: absolute;
  border-radius: 2px;
  background-color: var(--ocean, #404bbf);
}

.current:hover,
.current:focus {
  color: #404bbf;
}

.header-item-nav:hover,
.header-item-nav:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.header-item-address {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-address:hover,
.header-item-address:focus {
  color: #404bbf;
} */

/* .footer-logo {
    display: flex;
    padding-left: 108px;
  }
  .footer-logo-color {
  }
  .footer-text {
    max-width: 264px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 108px;
  }
  .page-footer {
  }
  .footer-container {
  }
  .container-webstudio {
  }
  .container-social-icon {
  }
  .social {
    display: flex;
    align-items: baseline;
  }
  .social-list {
    gap: 16px;
  }
  .social-item {
    width: 40px;
    height: 40px;
  }
  .footer-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--iris, #4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-icons:hover {
    background-color: #31d0aa;
  }
  .footer-icons:focus {
    background-color: #31d0aa;
  }
  .social-icon {
    fill: #f4f4fd;
  }
  .container-subscribe {
  }
  .subscribe {
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
    text-align: start;
  }
  .footer-form {
  }
  .subscribe-label {
  }
  .footer-input {
    width: 398px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    background: transparent;
    color: var(--white, #fff);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 16px;
  }
  .footer-input::placeholder {
    color: var(--white, #fff);
  }
  .subscribe-icon {
    margin-left: 16px;
  }
  .subscribe-btn {
    color: var(--white, #fff);
    min-width: 165px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    padding-left: 24px;
    align-items: center;
    border-radius: 4px;
    background: var(--iris, #4d5ae5);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    cursor: pointer;
  }
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: #404bbf;
  } */
